*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}


/*------------------Header------------------*/
#header{
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 2%;
}
.logo{
    width: 80px;
    padding: 2px 4px;
}


/*---------Navbar---------*/
nav{
    position: fixed;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #121736, #404c9c);
    border-radius: 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 4px;
    background: #329ea8;
    position: absolute;
    left: 0;
    bottom: 1px;
    z-index: -1;
    transition: 0.5s;

}

nav ul li a:hover::after{
    width: 105%;

}



/*-----popup-----*/





#loginButton{
    position: fixed;
    right: 3%;
    top: 20px;
    margin: 0 10px;
    height: 40px;
    width: 70px;
    border-radius: 10px;
    padding: 10px;
    align-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;

}

#loginButton:hover{
    background-color:#616bad;
}

/* The actual popup (appears on top) */
.popup {
    visibility: visible;
    display: flex;
    background: rgba(255, 255, 255, 0.12);
    width: 150%;
    height: 150%;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

.popup form {
    display: grid;
    justify-content: center;
    margin: 2px 2px;
    align-items: center;
    background-color: #264b5d;
    border-radius: 30px;
    height: 45%;
    width: 25%;
    position: absolute;
    top: 40%;
}
.popup form input {
    margin: 10px;
    left: 15px;
    width: 340px;
    height: 80px;
    border-radius: 60px;
}



/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup.show {
  visibility: visible;
}





/*----------Header Text---------*/
.header-text{
    margin-top: 20%;
    font-size: 30px;

}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #ff004f;
}


/*------------------Deals------------------*/

#deals{
    padding: 80px 0;
    color: #ababab;
}
